@font-face {
    font-family: Jost;
    src: url("/font/Jost-400-Book.otf");
   }
html{
    font-family: Jost;
    --bg: #f5f5f5;
    --color-text: #24292e;
    --bg-nav: #24292e;
    --nav-a-c: #be3523;
    --nav-a-bh: #2a3035;
    --nav-a-h:#be3523;
    --footer-a: #24292e;
    --footer-ah: #3f3f3f;
    --footer-abh: #2a3035;
    --shadow: white;
    --a-bh: #eaebed;
    --a-c: #be3523;
}
html[data-theme='dark']{
    font-family: Jost;
    --bg: #303030;
    --bg1: #161616;
    --highlight: #00e59b;
    --bg-box: #3d3d3d;
    --color-text: #dddddd;
    --bg-nav: #232222;
    --nav-a-c: #00e59b;
    --nav-a-bh: #383838;
    --nav-a-h: #00e59b;
    --footer-a: gray;
    --footer-ah: #3f3f3f;
    --footer-abh: gray;
    --shadow: black;
    --a-bh: #383838;
    --a-c: #00e59b;
}
::selection{
    background-color: var(--highlight);
}
body {
    margin: 0px auto;
    background-color: var(--bg);
    color: var(--color-text);
}
body ul{
    margin-bottom: 20px;
}
nav{
    font-family: Jost;
    position: fixed;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--bg-nav);
}
nav ul, footer ul {
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline-block;
    margin-right: 1em;
}
nav a{
    color: var(--nav-a-c);
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 15px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
nav a:hover{
    background-color: var(--nav-a-bh);
    text-shadow: 2px 0px 6px var(--nav-a-bh);
    color: var(--nav-a-h);
}
nav li{
    margin-top: 0.2em;
    text-shadow: 2px 0px 6px var(--bg-nav);
}
nav li:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: var(--a-c);
}
a:hover {
    text-shadow: 2px 0px 6px var(--a-bh);
    background-color: var(--a-bh);
    color: var(--a-c);
    border-radius: 3px;
}
h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 0px 6px var(--shadow);
}
h2 {
    font-size: 2em;
    text-shadow: 2px 0px 6px var(--shadow);
    text-align: center;
}
h3 {
    font-size: 1.8em;
    text-shadow: 2px 0px 6px var(--shadow);
    border-bottom: 1px solid;
}
/* Ugly way to remove the bg color change for the banners 
TODO : Find a better alternative ... */
h3 a:hover{
    background-color: var(--bg);
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: --color-text;
    text-align: justify;
    text-shadow: 2px 0px 6px var(--shadow);
}
li{
    text-shadow: 2px 0px 6px var(--shadow);
    font-size: 1.3em;
}

footer {
    border-top: 1px solid;
}
footer li{
    font-size: 1em;
}
footer a{
    color: var(--footer-a);
    display: inline-block;
}
footer a:hover{
    color: var(--footer-abh);
    background-color: var(--footer-ah);
    font-weight:bold; 
    display: inline-block;
}

figure {
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.blurb{
    margin: 0px auto;
    width: 80%;
}

#flex-container{
    display: flex;
    width: 100%;
    height: 100%;
}

#presentation{
    padding: 5px;
}

#flag {
    border-radius: 5px;
    width: 3em;
    height: 2em;
    vertical-align: middle;
    float:right;
    margin-bottom: 1em;
    margin-right: 1em;
}


.box {
    padding: 2em; 
    background-color: var(--bg-box);
    box-shadow: 2px 3px 6px var(--shadow);
    margin-bottom: 2em;
    border-radius: 2px;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #00e59b;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}