@font-face {
    font-family: Jost;
    src: url("/font/Jost-400-Book.otf");
   }
html{
    font-family: Jost;
    --bg: white;
    --bg-box: none;
    --highlight: #f5cece;
    --color-text: #22272c;
    --bg-nav: #22272c;
    --shadow: none;
    --a-color: #fc3200;
    --a-grad1: #d42b01;
    --a-grad2: #d42b01;
    --pp-bg: #22272c;
    --pp-border: #d42b01;
}
html[data-theme='dark']{
    font-family: Jost;
    --bg: #303030;
    --highlight: #00a16e;
    --bg-box: #3d3d3d;
    --color-text: #dddddd;
    --bg-nav: #232222;
    --shadow: black;
    --a-color: #00e59b;
    --a-grad1: #10996e;
    --a-grad2: #097450;
    --pp-bg: #464646;
    --pp-border: white;
}
::selection{
    background-color: var(--highlight);
}

a {
    color: var(--a-color);
    text-decoration: none;
    background-image: linear-gradient(120deg, var(--a-grad1) 100%, var(--a-grad1) 100%);
    background-repeat: no-repeat;
    background-size: 0.0em 0.0em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    font-weight: bold;
}
a:hover{
    text-emphasis: none;
    background-size: 100% 0.1em;
}
h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 0px 6px var(--shadow);
}
h2 {
    font-size: 2em;
    text-shadow: 2px 0px 6px var(--shadow);
    text-align: center;
}
h3 {
    font-size: 1.8em;
    text-shadow: 2px 0px 6px var(--shadow);
    border-bottom: 1px solid;
}
h4 {
    font-size: 1.6em;
    text-shadow: 2px 0px 6px var(--shadow);
    margin-left: 2em;
}

/* Ugly way to remove the bg color change for the banners 
TODO : Find a better alternative ... */
h2 a{
    background: none;
}

p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: var(--color-text);
    text-align: justify;
    text-shadow: 2px 0px 6px var(--shadow);
}
li{
    text-shadow: 2px 0px 6px var(--shadow);
    font-size: 1.3em;
}

ul li ul li{
    font-size: 1em;
}

body {
    margin: 0px auto;
    background-color: var(--bg);
    color: var(--color-text);
}
body ul{
    margin-bottom: 20px;
}
nav{
    font-family: Jost;
    position: fixed;
    z-index: 10;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--bg-nav);
}

nav ul, footer ul {
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline-block;
    margin-right: 1em;
}
nav a {
    background-image: linear-gradient(120deg, var(--a-grad1) 0%, var(--a-grad2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    text-decoration: none;
    color: var(--a-color);
    font-size: 1.1em;
    padding: 5px 15px;
}
nav a:hover {
    text-emphasis: none;
    background-size: 100% 100%;
    color: var(--a-hover-color);
}

nav li{
    margin-top: 0.2em;
    text-shadow: 2px 0px 6px var(--shadow);
}

nav li:hover {
    text-decoration: none;
}

footer {
    border-top: 1px solid;
}

footer li{
    font-size: 1em;
    color: var(--text-color);
}
footer a{
    color: var(--text-color);
}
figure {
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
}
figure img{
    transition: transform ease-in-out 1s;
}
figure:hover img{
    transform: scale(2);
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.blurb{
    margin: 0px auto;
    width: 80%;
}
div.post{
    margin: 0px auto;
    width: 60%;
}

.flex-container{
    display: flex;
    width: 100%;
    height: 100%;
}

#presentation{
    padding: 5px;
}

.profile_picture{
    float:right;
    width: 8.96em;
    height: 9em;
    margin-left: 30px;
    margin-right: 15%;
    border-radius: 100%;
    border: 2px solid var(--pp-border);
    box-shadow: 2px 3px 6px var(--shadow);
    background-color: var(--pp-bg);
}

.box {
    padding: 2em; 
    background-color: var(--bg-box);
    box-shadow: 2px 3px 6px var(--shadow);
    margin-bottom: 2em;
    border-radius: 2px;
    transition: transform ease-in-out 0.3s;
}
/*
.box:hover {
    transform: scale(1.01);
}
*/

.fun_fact{
    display: flex;
    flex-wrap: row;
    padding: 2em; 
    background-color: var(--bg-box);
    box-shadow: 2px 3px 6px var(--shadow);
    margin-bottom: 2em;
    border-radius: 2px;
    transition: transform ease-in-out 0.3s;
}
.fun_fact:hover {
    transform: scale(1.01);
}
.bulb{
    margin: auto;
    font-size: 1em;
}
.fun_fact .bulb{
    font-size: 2em;
    padding-right: 1em;
}
.fun_fact:hover .bulb{
    text-shadow: 0px 0px 6px yellow;
}
 
.main_title {
    width: 7em;
    animation: typing 2s steps(15), blink 1s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    text-align: left;
}
  
@keyframes typing {
    0%{
        width: 0%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.articles{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left:auto;
}

.article{
    position:relative; 
    height:15em;
    width: 25em;
    padding: 1em;
    margin:auto;
}

.article_container{
    position:relative; 
}

.post_image{
    position:absolute;
    opacity:0.5;
    width:25em;
    height:15em;
    z-index: 1;
    box-shadow: 2px 0px 6px black;
    transition: transform ease-in-out 0.3s;
}

.article_container:hover .post_image{
    transform: scale(1.1);
}

.post_text{
    z-index: 2;
    position:absolute;
    margin: 0 auto;
    width: 100%;
    margin-top: 10%;
    font-size:150%;
}
.post_title{
    text-align: center;
    color: var(--color-text);
    /* text-shadow: 1px 1px 1px black; */
    font-weight: bold;
    font-size: 1.1em;
}
.post_description{
    color: var(--color-text);
    /* text-shadow: 1px 1px 1px black; */
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: center;
}
.description{
    margin-left: 5%; 
    margin-right: 5%; 
    margin-bottom: 1em; 
    border-bottom: 1px solid; 
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
}

.description div{
    margin: auto;
}

