<footer>
    <div class="footer-content">
        <ul class="social-links">
            <li>
                <a href="mailto:moineaucyril@gmail.com">
                    <i class="fa fa-envelope"></i> <span>Email</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/cmoineau">
                    <i class="fa fa-github"></i> <span>GitHub</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/cmoineau">
                    <i class="fa fa-linkedin-square"></i> <span>LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://scholar.google.com/citations?user=_YlaxooAAAAJ&hl">
                    <i class="fa fa-graduation-cap"></i> <span>Scholar</span>
                </a>
            </li>
        </ul>
        <div class="footer-meta">
            <span id="lastchange"></span>
            <p>&copy; {{ "now" | date: "%Y" }} Cyril Moineau</p>
        </div>
    </div>
</footer>