<footer>
    <ul>
        <li>
            <i class="fa fa-envelope" aria-hidden="true"></i>
             <a href="mailto:moineaucyril@gmail.com">
                 email</a>
        </li>
        <!-- <li>
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <a href="https://raw.githubusercontent.com/cmoineau/MyCV/master/resume.pdf"> Resume</a>
        </li> -->
        <li>
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
            <a href="https://github.com/cmoineau"> GitHub</a>
        </li>
        <li>
            <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
            <a href="https://www.linkedin.com/in/cmoineau"> LinkedIn</a>
        </li>
        <li>
            <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
            <a href="https://scholar.google.com/citations?user=_YlaxooAAAAJ&hl"> Google Scholar</a>
        </li>
        <li id="lastchange" style="float : right; font-size: 0.8em; padding-right: 1em;"></li>
    </ul>
</footer>