<div class="lang_switcher">
    <button class="langbtn"><i class="fa fa-language fa-lg" aria-hidden="true"></i></button>
    <div class="lang_switcher-content">
        {% assign pages=site.pages | where:"ref", page.ref%}
        {% for page in pages %}
            {% if page.lang == "en" %}
                {% assign language="English" %}
            {% endif %}
            {% if page.lang == "fr" %}
                {% assign language="Français" %}
            {% endif %}
            <a href="{{ page.url }}">{{ language }}</a>
        {% endfor %}
        {% assign posts=site.posts | where:"ref", page.ref%}
        {% for post in posts %}
            {% if post.lang == "en" %}
                {% assign language="English" %}
            {% endif %}
            {% if post.lang == "fr" %}
                {% assign language="Français" %}
            {% endif %}
            <a href="{{ post.url }}">{{ language }}</a>
        {% endfor %}
    </div>
</div> 