<li class="lang_switcher">
    <button class="langbtn" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-language fa-lg"></i>
        <span>
            {% if page.lang == "fr" %} Changer de langue {% else %} Switch language {% endif %}
        </span>
        <i class="fa fa-angle-down" style="font-size: 0.8em; opacity: 0.6;"></i>
    </button>

    <div class="lang_switcher-content">
        {% assign all_items = site.pages | concat: site.posts | where:"ref", page.ref %}
        {% for item in all_items %}
        <a href="{{ item.url | relative_url }}">
            {% if item.lang == "en" %}
            <span style="margin-right: 8px;">🇬🇧</span> English
            {% elsif item.lang == "fr" %}
            <span style="margin-right: 8px;">🇫🇷</span> Français
            {% endif %}
        </a>
        {% endfor %}
    </div>
</li>