<div class="box" style="margin-left: auto; margin-right: auto; flex-flow: column;">

    <ul style="list-style-type: none;">
        <li><i class="fa fa-user" aria-hidden="true"></i> <b>Étudiant:</b> {{include.student}}</li>
        <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> <b>Diplôme:</b> {{include.degree}}</li>
        <li><i class="fa fa-commenting" aria-hidden="true"></i> <b>Sujet:</b> {{include.subject}}</li>
        <li><i class="fa fa-calendar" aria-hidden="true"></i> <b>Date:</b> {{include.date}}</li>
        <li><i class="fa fa-users" aria-hidden="true"></i> <b>Encadrant:</b> {{include.supervisors}}</li>
    </ul>
</div>