<h3>General informations</h3>
<ul style="list-style-type: none;">
    <li><i class="fa fa-calendar" aria-hidden="true"></i><b> Date :</b> {{include.date}}</li>
    {% if include.duration %}
    <li><i class="fa fa-clock-o" aria-hidden="true"></i><b> Duration :</b> {{include.duration}}</li>
    {% endif %}
    <li><i class="fa fa-building-o" aria-hidden="true"></i><b> Company :</b> {{include.company}}</li>
    <li><i class="fa fa-map-marker" aria-hidden="true"></i><b> Location :</b> {{include.location}}</li>
    <li><i class="fa fa-search" aria-hidden="true"></i><b> Skills developed :</b> {{include.skill}}</li>
    
</ul>