---
layout: fr
title: Research
lang: fr
ref: research
permalink: /research
---
	<div class="blurb">
        <h1>Activité de recherche</h1>
        
        <h2>Publications</h2>

        <ul>
            <li>Lucas Maisonnave, Cyril Moineau, Olivier Bichler, Fabrice Rastello.
                Applying maximum entropy principle on quantized neural networks correlates with high accuracy.
                AccML 2024 - 6th Workshop on Accelerated Machine Learning, Jan 2024, Munich, Germany.
                [<a href="https://hal.science/hal-04409740/">html</a> | <a href="https://accml.dcs.gla.ac.uk/papers/2024/6th_AccML_paper_6.pdf">pdf</a> ]
            </li>
            <li>José Lucas De Melo Costa, Cyril Moineau, Thibault Allenet, Inna Kucher.
                Applying maximum entropy principle on quantized neural networks correlates with high accuracy.
                AccML 2024 - 6th Workshop on Accelerated Machine Learning, Jan 2024, Munich, Germany.
                [<a href="https://accml.dcs.gla.ac.uk/papers/2024/6th_AccML_paper_17.pdf">pdf</a>]
            </li>
        </ul>

		<h2>Activité d'encadrement</h2>

        <h3>Doctorant</h3>
		<div class=articles>
            {% include supervise_fr.html 
                student='<a href="https://www.linkedin.com/in/lucas-maisonnave-ba8b041a2/">Lucas Maisonnave</a>'
                degree='Doctorant'
                subject='Codage avec entropie maximale dans les réseaux de neurones profonds'
                date='April 2023 - October 2025'
                supervisors='<a href="https://www.linkedin.com/in/olivierbichler/">Olivier Bichler</a>, <a href="https://www.linkedin.com/in/cmoineau/">Cyril Moineau</a>, <a href="https://team.inria.fr/corse/team-members/fabrice-rastello/">Fabrice Rastello</a>'
            %}
        </div>
        <h3>Étudiant en Master</h3>
        <div class=articles>
            {% include supervise_en.html 
                student='<a href="https://www.linkedin.com/in/florian-robert-ia/">Florian Robert</a>'
                degree='Étudiant en Master'
                subject='Déploiement de réseaux de neurones sur processeur Qualcomm Snap Dragon'
                date='Mars 2024 - Septembre 2024'
                supervisors='<a href="https://www.linkedin.com/in/cmoineau/">Cyril Moineau</a>, <a href="https://www.linkedin.com/in/vincent-templier/">Vincent Templier</a>'
            %}

            {% include supervise_fr.html 
                student='<a href="https://www.linkedin.com/in/jose-melo-costa/">José Lucas De Melo Costa</a>'
                degree='Étudiant en Master'
                subject='Étude de l\'embarquabilité des transformers'
                date='Avril 2023 - Octobre 2023'
                supervisors='<a href="https://www.linkedin.com/in/cmoineau/">Cyril Moineau</a>, <a href="https://www.linkedin.com/in/inna-kucher-phd-14528169/">Inna Kucher</a>'
            %}
        </div>
		
	</div><!-- /.blurb -->
