<!DOCTYPE html>
	<html lang="en" data-theme='dark'> <!--Change to light later ?-->
		<head>
			<title>{{ page.title }}</title>
			<!-- link to the French version -->
			<link rel="alternate" hreflang="fr"
        	href="/fr"/>

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link for icon -->
			 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/internship">My work experiences</a></li>
	        		<li><a href="/project">My completed projects</a></li>
	        		<a href="/fr"> <img id="flag" src="/ressources/fr_flag.png" title="Vers le mode Français"> </a>
	    		</ul>
			</nav>
			<!--
			<div class="toggle-container">
					<input type="checkbox" id="switch" position='fixed' name="theme"/><label for="switch">Toggle</label>

    		</div>
    		-->
			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li> 
	        			<i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
 						<a href="mailto:moineaucyril@gmail.com">
 							email</a>
 					</li>
	        		<li>
	        			<i class="fa fa-github fa-lg" aria-hidden="true"></i>
	        			<a href="https://github.com/cmoineau"> github.com/cmoineau</a>
	        		</li>
	        		<p style="float : right; font-size: 0.8em">Last edition : 17 Dec. 2019</p>
				</ul>

			</footer>

		</body>
			<script type="text/javascript">
				let trans = () => {
		            document.documentElement.classList.add('transition');
		            window.setTimeout(() => {
		                document.documentElement.classList.remove('transition')
		            }, 1000)
		        }


				var checkbox = document.getElementById('switch');
        		checkbox.addEventListener('change', function() {
		            if(this.checked) {
		                trans()
		                document.documentElement.setAttribute('data-theme', 'dark')
		                localStorage.setItem("data-theme", 1);
		            } else {
		                trans()
		                document.documentElement.setAttribute('data-theme', 'light')
		                localStorage.setItem("data-theme", 0);
		            }
        		})

        		if(!("data-theme" in localStorage)){
					localStorage.setItem("data-theme", 0);
				}else{
					if (localStorage.getItem('data-theme') != 0){
						document.documentElement.setAttribute('data-theme', 'dark')
						checkbox.checked = true
					}
				}
			</script>
	</html>