<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to the French version -->
			<link rel="alternate" hreflang="fr"
        	href="/fr"/>

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link for icon -->
			 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/internship">My work experiences</a></li>
	        		<li><a href="/project">My completed project</a></li>
	        		<a href="/fr"> <img id="flag" src="/ressources/fr_flag.png" title="Vers le mode Français"> </a>
	    		</ul>
			</nav>

			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li> 
	        			<i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
 						<a href="mailto:moineaucyril@gmail.com">
 							email</a>
 					</li>
	        		<li>
	        			<i class="fa fa-github fa-lg" aria-hidden="true"></i>
	        			<a href="https://github.com/cmoineau"> github.com/cmoineau</a>
	        		</li>
	        		<p style="float : right; font-size: 0.8em">Last edition : 19 Oct. 2019</p>
				</ul>

			</footer>

		</body>
	</html>