<!DOCTYPE html>
	<html lang="fr" data-theme='dark'>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to the English version -->
			<link rel="alternate" hreflang="en" href="/"/>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to langswitch stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/lang_switch.css">
			<!-- link to lightswitch stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/light_switch.css">
			<!-- link to scrolltop stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/scroll_top.css">
			<!-- link for icon -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<script src="/js/last_edition.js"></script>
		</head>
		
		<body onload="setLastCommit('french')">
			{% include scroll_to_top.html%}
			
			{% include header_fr.html %}

			<div class="container" style="padding-bottom: 1.5em; padding-top: 5em;">
			
				{{ content }}
			
			</div><!-- /.container -->

			{% include footer_fr.html %}

		</body>
	</html>